body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(136, 240, 169);
  }

  h1 {
    text-align: center;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 4px;
    margin-top: 5px;
    background-color: rgb(174, 229, 204);
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
#subtn:hover{
    background-color: rgb(26, 255, 0);
}
#subtn:active{
    background-color: rgb(0, 255, 149);
}
  #users {
    margin-top: 20px;
  }

  #users table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  #users th,
  #users td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #users th {
    background-color: #4CAF50;
    color: #fff;
  }

  #users img {
    max-width: 80px;
    height: auto;
  }